div.image_block {
    max-width: 40%;
    @media (max-width: 700px) {
        max-width: 100%;
    }
    position: relative;
    img.submission_img {
        padding: 5px 30px 10px 0px;
        @media (max-width: 700px) {
            padding: 0;
            display: block;
            margin: 0 auto 20px;
        }
    }
    p {
        @media (max-width: 700px) {
            display: none;
        }
        position: absolute;
        bottom: 20px;
        right: 40px;
        margin: 0 !important;
        i {
            opacity: 0.7;
            color: black;
            background: lighten($gray, 20%);
            padding: 2px 5px;
            @include border-radius(1px);
            cursor: pointer;
        }
    }
    &.landscape {
        max-width: 100%;
        img {
            padding: 0;
            margin: 0 auto;
        }
        p {
            right: 15px;
            bottom: 5px;
        }
    }
}
