@import 'compass/css3';

body {
    font-family: "Raleway";
    font-family: "Averia Libre";
    color: $white;
    @include background-size(cover);
    background-image: url('../img/vpr-collage-small.jpg');
}

img.bg {
    min-height: 100%;
    min-width: 1500px;
    max-width: 100%;

    width: 100%;
    height: auto;

    position: fixed;
    top: 0;
    left: 0;
    z-index: -2;
}

h1, h2, h3 {
    font-family: "Raleway";
    font-weight: 300;
}

h3, .h3 {
    font-size: 30px;
}

a {
    color: $white;
    border-bottom: 2px solid $white;
    &:hover {
        color: $blue;
        border-color: $blue;
        text-decoration: none;
    }
}

#landing {
    text-align: center;

    h1 {
        margin-bottom: 0;
        margin-top: 100px;
        font-size: 124px;
        font-weight: 100;
        @media (max-width: $big-screen) {
            margin-top: 30px;
        }
        @media (max-width: $laptop) {
            margin-top: 10px;
            font-size: 82px;
        }
        @media (max-width: $tablet) {
            font-size: 68px;
        }
        @media (max-width: $phone) {
            font-size: 54px;
        }
    }

    h2, h3 {
        font-family: "Roboto";
        text-shadow: 1px 1px $black;
        font-size: 36px;
        margin-top: 0;
        font-weight: 300;
        @media (max-width: $laptop) {
            font-size: 32px;
        }
        @media (max-width: $tablet) {
            font-size: 24px;
        }
        @media (max-width: $phone) {
        }
    }

    h2 {
        @media (max-width: $phone) {
        }
        @media (max-width: $tablet) {
        }
        @media (max-width: $laptop) {
        }
        @media (max-width: $big-screen) {
        }
    }

    h3 {
        @media (max-width: $phone) {
        }
        @media (max-width: $tablet) {
        }
        @media (max-width: $laptop) {
        }
        @media (max-width: $big-screen) {
            margin-top: 40px;
        }
        margin-top: 120px;
    }

    #explainer {
        margin-top: 35px;
        text-align: left;
        p {
            font-size: 23px;
            font-weight: 500;
            line-height: 1.3em;
            @media (max-width: $big-screen) {
            }
            @media (max-width: $laptop) {
                font-size: 20px;
            }
            @media (max-width: $tablet) {
                font-size: 18px;
                padding: 0 30px;
            }
            @media (max-width: $phone) {
                padding: 0 10px;
            }
        }
    }
}
