.inherit_height {
    height: 100%;
}

#landing {
    padding-bottom: 150px;
    h2, h3, #share_pill {
        text-align: center;
    }
    h2 {
        margin-bottom: 0;
        font-size: 124px;
        @media (max-width: $laptop) {
        }
        @media (max-width: $tablet) {
            font-size: 68px;
        }
        @media (max-width: $phone) {
            font-size: 54px;
        }
        font-weight: 100;
    }
    h3 {
        font-size: 36px;
        font-weight: 300;
        margin-top: 0;
        margin-bottom: .7em;
        @media (max-width: $laptop) {
            margin-bottom: 1em;
            font-size: 32px;
        }
        @media (max-width: $tablet) {
            margin-bottom: 1.3em;
            font-size: 24px;
        }
    }
    div.explainer {
        padding-left: 10px;
        p {
            font-size: 23px;
            font-weight: 500;
            line-height: 1.3em;
            margin-bottom: 3em;
            @media (max-width: $big-screen) {
            }
            @media (max-width: $laptop) {
                font-size: 20px;
            }
            @media (max-width: $tablet) {
                font-size: 18px;
                padding: 0 30px;
            }
            @media (max-width: $phone) {
                padding: 0 10px;
            }
        }
    }
}

