#photo {
    #description {
        padding: 15px;
        color: $gray;
        background: $white;
        p {
            font-size: 24px;
        }
        h4 {
            font-size: 28px;
        }
    }
}
