.not_glass {
    padding: 20px;
    background: $white;
    color: $black;
    p {
        font-weight: 400;
        color: $gray;
    }
}
div.photo_card {
    img {
        margin-bottom: 15px;
    }
    .photo_copy {
        p {
            font-size: 24px;
        }
        h2 {
            font-size: 28px;
        }
    }
}
