#share {
    margin-top: 50px;
    h2 {
        text-align: center;
        font-size: 124px;
        margin-bottom: 0;
        a {
            border: 0;
        }
    }
    h3 {
        margin: 20px 0;
    }
    p {
        font-size: 22px;
        line-height: 1.2em;
    }
}

#share_what {
    margin-bottom: 50px;
    h3, p {
        text-align: center;
    }

    h3 {
        font-size: 48px;
        font-weight: 100;
    }

    p {
        margin-top: 10px;
    }
}

.share_prompt {

    h3 {
        text-align: center;
    }
}
