div.share_container {
    margin-bottom: 40px;
    p {
        font-size: 24px;
        text-align: center;
        font-weight: 600;
        margin-bottom: 30px !important;
        a.pill {
            font-size: 18px;
        }
    }
    .social_pills {
        a.pill {
            padding-left: 30px;
            padding-right: 30px;
        }
    }
}
