div.share_container {
    p {
        font-size: 18px;
        text-align: center;
        font-weight: 600;
        margin-bottom: 30px !important;
        a {
            font-size: 1em;
        }
    }
    .social_pills {
        margin-top: -3px;
        a {
            padding: 0.35em 2.5em 0.35em;
            font-size: 1.2em;
        }
    }
}
