.slide {
    min-height: 300px;
    position: relative;
    div.submission_copy {
        max-width: 700px;
        margin: 40px auto;
        padding: 0 20px;
        blockquote {
            font-size: 36px;
            @media (max-width: $tablet) {
                font-size: 32px;
            }
            @media (max-width: $phone) {
                font-size: 24px;
            }
        }
        p {
            font-size: 24px;
            @media (max-width: $phone) {
                font-size: 18px;
            }
            strong {
                color: $highlight;
                font-weight: 900;
            }
        }
    }
    h2.submitter {
        font-size: 2.0em;
        text-align: right;
        padding-right: 15px;
        max-width: 690px;
        margin: 50px auto;
        font-weight: 700;
        @media (max-width: $phone) {
            font-size: 1.5em;
            margin: 20px 0 40px;
        }
    }
    div.loading {
        text-align: center;
        padding: 50px 0 30px;
        p {
            font-size: 24px;
            i {
                font-size: 72px;
            }
        }
    }
}

#sam {
    .submission_copy {
        p {
            margin: 0;
            text-align: center;
        }
        blockquote {
            display: none;
        }
        p:nth-child(2) {
            margin-bottom: 10px;
            font-weight: 800;
            font-size: 32px;
            @media (max-width: $tablet) {
                font-size: 24px;
                line-height: 1.2em;
            }
        }
    }
    h2 {
        text-align: center;
    }
}

.glass {
    width: 100%;
    min-height: 250px;
    padding: 20px;
    @media (max-width: $phone) {
        padding: 0 5px 20px;
    }
    background: rgba(20,20,20,0.5);
    @include border-radius(2px);
    border-right: 2px solid rgba(20,20,20,0.3);
    border-bottom: 2px solid rgba(20,20,20,0.6);
    border-top: 1px solid rgba(100,100,100,0.2);
    border-left: 2px solid rgba(100,100,100,0.2);
}
