.slide {
    position: relative;
    img.submission_img {
        max-width: 40%;
        padding: 5px 30px 20px 0;
    }
    div.audio_box {
        min-width: 40%;
        padding: 15px;
        padding-bottom: 40px;
        margin: 0 25px 15px 0;
        border: 2px solid $white;
        border-radius: 5px;
        h3, p {
            text-align: center;
        }
        h3 {
            font-size: 72px;
        }
        p {

        }
    }
    .photo_copy {
        p {
            font-size: 24px;
        }
        h2 {
            font-size: 28px;
        }
    }
    div.submission_copy {
        p {
            font-size: 24px;
            strong {
                color: $highlight;
                font-weight: 900;
            }
        }
    }
    h2 {
        font-size: 60px;
        text-align: right;
    }
}

.glass {
    width: 100%;
    padding: 20px;
    background: rgba(20,20,20,0.5);
    @include border-radius(5px);
    border: 2px solid rgba(20,20,20,0.6);
    min-height: 300px;
}
