#text {
    color: $white;
    background: rgba(50,50,50, 0.5);
    padding: 20px 40px;
    border: 1px solid rgba(1,1,1,0.3);
    border-radius: 5px;
    p {
        font-size: 24px;
    }
    #pullquote {
        // @include background-size(cover);
        // background-image: url('../img/vpr-collage-small.jpg');
        color: $white;

        p {
            font-size: 64px;
            text-align: right;
        }
    }
    h4 {
        font-size: 32px;
    }
}
