@import 'compass/css3';
@import "bootstrap";
@import "mixin";
@import "vpr";
@import "vpr-svg";
@import "ionicons";
@import "landing";
@import "share";
@import "submission";
@import "bxslider";
@import "no-svg";

body {
    font-family: "Raleway";
    font-weight: 300;
    // font-family: "Averia Libre";
    color: $white;
    @include background-size(cover);
    background-image: url('../img/vpr-collage-small.jpg');
    background-attachment: fixed;
    // -webkit-font-smoothing: antialiased;
}

img.bg {
    min-height: 100%;
    min-width: 1500px;
    max-width: 100%;

    width: 100%;
    height: auto;

    position: fixed;
    top: 0;
    left: 0;
    z-index: -2;
}

h1, h2, h3 {
    font-family: "Raleway";
    font-weight: 300;
}

h3, .h3 {
    font-size: 30px;
}

p {
    margin-bottom: 1em;
}

a {
    color: $white;
    &:hover {
        color: $blue;
        text-decoration: none;
    }
}

.pill {
    padding: 0.6em 1em 0.5em;
    text-transform: uppercase;
    @include border-radius(2em);
    border: 2px solid #fff;
    font-family: "Raleway";
    font-weight: 300;
}

.glass {
    width: 100%;
    padding: 20px;
    background: rgba(20,20,20,0.5);
    @include border-radius(5px);
    border: 2px solid rgba(20,20,20,0.6);
}

