@import 'compass/css3';
@import "bootstrap";
@import "mixin";
@import "vpr";
@import "vpr-svg";
@import "ionicons";
@import "landing";
@import "share";
@import "submission";
@import "bxslider";
@import "no-svg";

body {
    font-family: "Raleway";
    font-weight: 300;
    // font-family: "Averia Libre";
    color: $white;
    @include background-size(cover);
    background-image: url('../img/vpr-collage-small.jpg');
    background-attachment: fixed;
    // -webkit-font-smoothing: antialiased;
}

div.page_container {
    position: relative;
}

img.bg {
    min-height: 100%;
    min-width: 1500px;
    max-width: 100%;

    width: 100%;
    height: auto;

    position: fixed;
    top: 0;
    left: 0;
    z-index: -2;
}

h1, h2, h3 {
    font-family: "Raleway";
    font-weight: 300;
}

h3, .h3 {
    font-size: 30px;
}

p {
    margin-bottom: 1em;
}

a {
    color: $white;
    &:hover {
        color: $blue;
        text-decoration: none;
    }
}

.pill {
    padding: 0.6em 1em 0.5em;
    text-transform: uppercase;
    @include border-radius(2em);
    border: 2px solid #fff;
    font-family: "Raleway";
    font-weight: 300;
}

li {
    min-height: 300px;
    opacity: 0;
}

.chevrons {
    .next,
    .prev {
        display: block;
        padding: 0 20px;
        position: absolute;
        top: 50%;
        margin-top: -46px;
        z-index: 1;
        color: white;
        font-size: 92px;
    }
    .next {
        right: 0;
    }
    .prev {
        left: 0;
    }
}

.loaded {
    @include transition(all 0.5s);
    opacity: 1;
}

