<!-- Landing Slide -->
<li class="slide">
    <div id="landing" class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
                <h2>TRACES</h2>
                <h3>What reminds you?</h3>
                <div class="explainer">
                    <p>Drug addiction affects many in our community. Whether you’ve lost a family member to a drug overdose, lost touch with a friend who uses, or are fighting your own addiction, daily reminders&mdash;objects, places, people&mdash;can be anywhere. <em>Traces</em> is a collection of those reminders and the memories they evoke.</p>

                </div>
                <p id="share_pill">
                    <a id="share_link" class="pill" href="{{ url_for('share') }}">Share your story</a></p>
            </div>
        </div>
    </div>
</li>
