<div class="chevrons">
    <div class="swiper_bg">
        <p class="swiper_prompt">Swipe to Navigate</p>
    </div>
    <a id="slider_prev" class="prev" href={% if links.prev %}"{{ url_for('post', title=links.prev) }}"
        {% else %}"{{ url_for('index') }}"{% endif %}>
        <i class="icon ion-ios7-arrow-left"></i>
    </a>
    <a id="slider_next" class="next" href="{% if links.next %}{{ url_for('post', title=links.next) }}{% endif %}">
        <i class="icon ion-ios7-arrow-right"></i>
    </a>
</div>
