<nav class="navbar" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <a id="link-home" class="navbar-brand" href="http://www.vpr.net">
                <div id="vpr-logo"></div></a>
            <h1 id="navbar_title"><a id="home_link" href="{{ url_for('index') }}">TRACES<span id="sub_h1">: What Reminds You?</span></a></h1>
            <div id="social-logos">
                <a class="share sGoogle" href="https://plus.google.com/share?url={{ page_url|urlencode }}" target="_blank">
                    <div class="icon ion-social-googleplus" target="_blank"></div></a>
                <a class="share sTwitter" href="http://www.twitter.com/intent/tweet?url={{ page_url|urlencode }}&text={{ social.twitter_text|urlencode }}&via=vprnet&hashtags={{ social.twitter_hashtag|urlencode }}" target="_blank">
                    <div class="icon ion-social-twitter"></div></a>
                <a class="share sFacebook fb_share" href="https://www.facebook.com/dialog/feed?app_id=282283015178&picture={{ social.img|urlencode }}&name={{ social.title|urlencode }}&link={{ page_url|urlencode }}/&caption={{ social.subtitle|urlencode }}&description={{ social.description|urlencode }}&redirect_uri={{ page_url|urlencode }}#close_window" target="_blank">
                    <div class="icon ion-social-facebook"></div></a>
            </div>
        </div>
    </div>
</nav>
