<div class="row share_container">
    <div class="col-sm-6">
        <hr>
        <p>Share {% if slide.firstname %}{{ slide.firstname }}'s {% else %}their {% endif %}story:</p>
        <div class="row social_pills">
            <div class="col-xs-6">
                <p><a class="pill" href='javascript:fbShare("{{ page_url }}/{{ slide.slug }}", "{{ slide.social.title }}", "{{ slide.social.description }}", "{{ slide.social.img }}", 520, 350)'><i class="icon ion-social-facebook"></i></a></p>
            </div>
            <div class="col-xs-6">
                <p><a class="pill" href="http://www.twitter.com/intent/tweet?url={{ page_url|urlencode }}/{{ slide.slug }}&text={{ slide.social.twitter_text|urlencode }}&via=vprnet&hashtags={{ slide.social.twitter_hashtag|urlencode }}" target="_blank"><i class="icon ion-social-twitter"></i></a></p>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <hr>
        <p>Share your story:</p>
        <p><a class="share_story_pill pill" href="{{ url_for('share') }}">Submit a trace</a></p>
    </div>
</div>
<div class="row about_traces">
    <div class="col-sm-6">
        <p><a class="pill" href="{{ url_for('index') }}">About Traces</a></p>
    </div>
</div>
