<div class="submission_copy">
    {% if slide['image'] %}
        {% with image = slide.image, landscape = slide.landscape %}
            {% include "_image.html" %}
        {% endwith %}
    {% elif slide['audio'] %}
        {% include "_audio.html" %}
    {% endif %}

    {% for paragraph in slide['paragraphs'] %}

        {% if slide['copy'] %}
            {% if loop.index == 2 %}
            <blockquote>{{ slide['copy'] }}</blockquote>
            {% endif %}
        {% endif %}

        {% if slide.additionalimage1 %}
            {% if loop.index == slide.image1placement|int %}
            {% with image = slide.additionalimage1, landscape = slide.landscape1 %}
                {% include "_image.html" %}
            {% endwith %}
            {% endif %}
        {% endif %}

        {{ paragraph.replace(' -- ', '&mdash;')|safe }}

    {% endfor %}
</div>

    <h2 class="submitter">-{% if slide.firstname %}{{ slide.firstname }} {% if slide.lastname %}{{ slide.lastname }}{% endif %}{% else %}Anonymous{% endif %}</h2>

    {% include "_share_container.html" %}
