{% for slug in slugs %}
    {% if slug == submission.slug %}
        <!--Submission-->
        <li class="slide">
            <div class="row">
                <div class="col-sm-10 col-sm-offset-1">
                    <div id="{{ submission.slug }}" class="submission glass">

                        <div class="submission_copy">
                            {% if submission['image'] %}
                                <img class="submission_img img-responsive {% if submission.landscape %}landscape{% else %}pull-left{% endif %}" src="{{ submission['image'] }}">

                            {% elif submission['audio'] %}
                            <div class="audio_box pull-left">
                                <h3><i class="icon ion-ios7-play"></i></h3>
                                <p class="tell_story">Hear {{ submission.firstname }} <br /> Tell {{ submission.gender|title }} Story</p>
                            </div>
                            {% endif %}

                            {% for paragraph in submission['paragraphs'] %}
                            <p>{{ paragraph.replace(' -- ', '&mdash;')|safe }}</p>
                            {% endfor %}
                        </div>
                        <h2>{{ submission.firstname }} {{ submission.lastname }}</h2>

                    </div>
                </div>
            </div>
        </li>
    {% elif slug == next_trace.slug %}
        <!--Next Trace-->
        <li class="slide">
            <div class="row">
                <div class="col-sm-10 col-sm-offset-1">
                    <div id="{{ next_trace.slug }}" class="next_trace glass">

                        <div class="submission_copy">
                            {% if next_trace.image %}
                                <img class="submission_img img-responsive {% if next_trace.landscape %}landscape{% else %}pull-left{% endif %}" src="{{ next_trace['image'] }}">

                            {% elif next_trace.audio %}
                            <div class="audio_box pull-left">
                                <h3><i class="icon ion-ios7-play"></i></h3>
                                <p class="tell_story">Hear {{ next_trace.firstname }}<br />Tell {{ next_trace.gender|title }} Story</p>
                            </div>
                            {% endif %}
                            {% for paragraph in next_trace['paragraphs'] %}
                            <p>{{ paragraph.replace(' -- ', '&mdash;')|safe }}</p>
                            {% endfor %}
                            <h2>{{ next_trace.firstname }} {{ next_trace.lastname }}</h2>
                        </div>

                    </div>
                </div>
            </div>
        </li>
    {% else %}
        <!-- other -->
        <li class="slide">
            <div class="row">
                <div class="col-sm-10 col-sm-offset-1">
                    <div id="{{ slug }}" class="submission glass">
                    </div>
                </div>
            </div>
        </li>
    {% endif %}
{% endfor %}
