{% extends "base.html" %}

{% block title %}{{ page_title }} | VPR{% endblock %}

{% block content %}

<div id="landing" class="container">
    <div class="chevrons">
        <a href="{{ url_for('post', title=slugs.0) }}">
            <i class="next icon ion-ios7-arrow-right"></i>
        </a>
    </div>
    <div class="row">
        <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
            <h1>TRACES</h1>
            <h2>What reminds you?</h2>
            <div class="explainer">
                <p>Drug addiction affects many in our community. Whether you’ve lost a family member to a drug overdose or lost touch with a friend who uses, daily reminders of that loss&mdash;objects, places, people&mdash;can be anywhere. <em>Traces</em> is a collection of those reminders and the memories they evoke.</p>
            </div>
            <p id="share_pill"><a class="pill" href="{{ url_for('share') }}">Share your story</a></p>
        </div>
    </div>
</div>

{% endblock %}
