{% extends "base.html" %}

{% block title %}{{ page_title }} | VPR{% endblock %}

{% block content %}

<div id="poster_landing" class="container">
    <div id="poster_explainer" class="row">
        <div class="col-xs-12">
            <h1>TRACES</h1>
            <h2>What reminds you?</h2>
            <div class="row">
                <div class="col-md-8 col-md-offset-2 col-sm-12">
                    <p>Drug addiction affects many in our community. Whether you've lost a family member to a drug overdose, lost touch with a friend who uses, or are fighting your own addiction, daily reminders&mdash;objects, places, people&mdash;can be anywhere.</p>
                    <p><em>Traces</em> is a collection of those reminders and the feelings they evoke. Tell us your story and help us explore the deep and subtle ways that drug addiction in Vermont leaves its mark.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="share_prompt col-sm-6">
            <h2 class="icon"><a href="mailto:share@vpr.net"><span class="icon ion-camera"></span></a></h2>
            <h3>Share A Photo</h3>
            <p>Email us at <a>share@vpr.net</a> with a photograph and a short description of a place, person or object that either reminds you of someone you've lost, or motivates you to stay clean.</p>
        </div>
        <div class="share_prompt col-sm-6">
            <h2 class="icon"><a href="tel:8025528899"><span class="icon ion-mic-a"></span></a></h2>
            <h3>Record Your Story</h3>
            <p>Call us at <a href="tel:8025528899">802-552-8899</a> and leave us a message. Tell us about whatever it is that reminds you of someone you’ve lost to drug addiction, or what keeps you going on the path to recovery.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <p id="url">vpr.net/apps/traces</p>
        </div>
    </div>
    <div class="row">
        <div id="vpr_project" class="col-xs-12">
            <p>THIS IS A <img src="{{ url_for('static', filename='img/logo/vpr-logo-inverted.png') }}"></span> PROJECT</p>
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/script-ck.js') }}"></script>
{% endblock %}
