{% extends "base.html" %}

{% block title %}{{ page_title }} | VPR{% endblock %}

{% block content %}

<div id="share" class="container">
    <div class="row">
        <div class="col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
            <h2>What Should I Share?</h2>
            <div class="pull_right">
                <p><em>Traces</em> is an attempt to catalog the things that remind us of those we've lost&mdash;or who have lost themselves&mdash;to drug addiction. What you share might be deeply personal but otherwise ordinary: a photograph of a pair of boots, a memory of climbing a mountain, a description of a certain smell or taste.</p>
                <p>Tell us your story and help us explore the deep and subtle ways that drug addiction in Vermont leaves its mark.</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4 col-lg-offset-2 col-md-5 col-md-offset-1 col-sm-6">
            <div class="share_prompt">
                <p class="ionicon"><a href="mailto:share@vpr.net"><span class="icon ion-camera"></span></a></p>
                <h3><a href="mailto:share@vpr.net">Share A Photo</a></h3>
                <p>Email us at <a href="mailto:share@vpr.net">share@vpr.net</a> with a photograph and a short description of an everyday object, a place, or even a person that reminds you of someone you've lost.</p>
            </div>
        </div>
        <div class="col-lg-4 col-md-5 col-sm-6">
            <div class="share_prompt">
                <p class="ionicon"><a href="tel:8025528899"><span class="icon ion-mic-a"></span></a></p>
                <h3><a href="tel:8025528899">Record Your Story</a></h3>
                <p class="pull_right">Call <a href="tel:8025528899">802-552-8899</a> and leave us a message. Tell us about whatever it is that reminds you of someone you've lost to drug addiction.</p>

            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <p class="pdf_share">Want to share the project? <a href="{{ url_for('static', filename='pdf/vpr-traces-poster.pdf') }}">Print out a poster.</a></p>
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/script-ck.js') }}"></script>
{% endblock %}
