{% extends "base.html" %}

{% block title %}Traces: {{ submission.title }} | VPR{% endblock %}

{% block content %}
<div class="container">
    <div class="chevrons">
    {% if links.next %}
        <a href="{{ url_for('post', title=links.next) }}">
            <i id="slider_next" class="next icon ion-ios7-arrow-right"></i>
        </a>
    {% endif %}
        <a href={% if links.prev %}"{{ url_for('post', title=links.prev) }}"
            {% else %}"{{ url_for('index') }}"{% endif %}>
            <i id="slider_prev" class="prev icon ion-ios7-arrow-left"></i>
        </a>
    </div>

    <ul class="bxslider row">
    {% for slug in slugs %}
        {% if slug == submission.slug %}
            <li id="{{ submission.slug }}">
                <div class="col-sm-10 col-sm-offset-1">
                    <div class="submission glass">
                        {% if submission.image %}
                            <img class="img-responsive" src="{{ submission.image }}">
                            <div class="photo_copy">
                                <p>{{ submission['copy'] }}</p>
                                <h2>-{{ submission.attribution }}</h2>
                            </div>
                        {% elif submission.audio %}
                            <div class="pull_quote">
                                <p>{{ submission['copy'] }}</p>
                                <h2>{{ submission.attribution }}</h2>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </li>
        {% elif slug == next_trace.slug %}
            <li id="{{ next_trace.slug }}">
                <div class="col-sm-10 col-sm-offset-1">
                    <div class="next_trace glass">
                        {% if next_trace.image %}
                            <img class="img-responsive" src="{{ next_trace.image }}">
                            <div class="photo_copy">
                                <p>{{ next_trace['copy'] }}</p>
                                <h2>-{{ next_trace.attribution }}</h2>
                            </div>
                        {% elif next_trace.audio %}
                            <div class="pull_quote">
                                <p>{{ next_trace['copy'] }}</p>
                                <h2>{{ next_trace.attribution }}</h2>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </li>
        {% else %}
            <li id="{{ slug }}">
                <div class="col-sm-10 col-sm-offset-1">
                </div>
            </li>
        {% endif %}
    {% endfor %}

    </ul>
</div>
{% endblock %}

{% block js %}
<script type="text/javascript">

var VPR = VPR || {};

VPR.activeSlide = '{{ submission.slug }}';

VPR.submissions = [
    'landing',
    {% for slug in slugs %}
        '{{ slug }}',
    {% endfor %}
];
</script>
{% endblock %}
