{% extends "base.html" %}

{% block title %}Traces: {{ submission.title }} | VPR{% endblock %}

{% block content %}
<div id="{{ submission.slug }}" class="container">
    <div class="chevrons">
    {% if links.next %}
        <a href="{{ url_for('post', title=links.next) }}">
            <i class="next icon ion-ios7-arrow-right"></i>
        </a>
    {% endif %}
    {% if links.prev %}
        <a href="{{ url_for('post', title=links.prev) }}">
            <i class="prev icon ion-ios7-arrow-left"></i>
        </a>
    {% else %}
        <a href="{{ url_for('index') }}">
            <i class="prev icon ion-ios7-arrow-left"></i>
        </a>
    {% endif %}
    </div>
    <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
            <div class="submission glass">
                {% if submission.image %}
                    <img class="img-responsive" src="{{ submission.image }}">
                    <div class="photo_copy">
                        <p>{{ submission['copy'] }}</p>
                        <h2>-{{ submission.attribution }}</h2>
                    </div>
                {% elif submission.audio %}
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script type="text/javascript">

var VPR = VPR || {};

VPR.submissions = [
    {'name': 'home',
    'active': false},
    {% for slug in slugs %}
    {'name': '{{ slug }}',
    'active': {% if submission.slug == slug %}true{% else %}false{% endif %}},
    {% endfor %}
];
</script>

<script src="{{ url_for('static', filename='js/script-ck.js') }}"></script>
{% endblock %}
