{% extends "base.html" %}

{% block title %}Traces: {{ submission.title }} | VPR{% endblock %}

{% block content %}
<div class="container">
    <div class="chevrons">
        <a id="slider_next" class="next" href="{{ url_for('post', title=links.next) }}">
            <i class="icon ion-ios7-arrow-right"></i>
        </a>
        <a id="slider_prev" class="prev" href={% if links.prev %}"{{ url_for('post', title=links.prev) }}"
            {% else %}"{{ url_for('index') }}"{% endif %}>
            <i class="icon ion-ios7-arrow-left"></i>
        </a>
    </div>

    <ul class="bxslider row">
    {% for slug in slugs %}
        {% if slug == submission.slug %}
            <!--Submission-->
            <li>
                <div class="col-sm-10 col-sm-offset-1">
                    <div id="{{ submission.slug }}" class="submission glass">
                        {% if submission.image %}
                            <img class="img-responsive" src="{{ submission.image }}">
                            <div class="photo_copy">
                                <p>{{ submission['copy'] }}</p>
                                <h2>-{{ submission.attribution }}</h2>
                            </div>
                        {% elif submission.audio %}
                            <div class="pull_quote">
                                <p>{{ submission['copy'] }}</p>
                                <h2>{{ submission.attribution }}</h2>
                            </div>
                        {% else %}
                            <div class="pull_quote">
                                <p>{{ submission['copy'] }}</p>
                                <h2>{{ submission.attribution }}</h2>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </li>
        {% elif slug == next_trace.slug %}
            <!--Next Trace-->
            <li>
                <div class="col-sm-10 col-sm-offset-1">
                    <div id="{{ next_trace.slug }}" class="next_trace glass">
                        {% if next_trace.image %}
                            <img class="img-responsive" src="{{ next_trace.image }}">
                            <div class="photo_copy">
                                <p>{{ next_trace['copy'] }}</p>
                                <h2>-{{ next_trace.attribution }}</h2>
                            </div>
                        {% elif next_trace.audio %}
                            <div class="pull_quote">
                                <p>{{ next_trace['copy'] }}</p>
                                <h2>{{ next_trace.attribution }}</h2>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </li>
        {% else %}
            <!-- other -->
            <li>
                <div class="col-sm-10 col-sm-offset-1">
                    <div id="{{ slug }}">
                    </div>
                </div>
            </li>
        {% endif %}
    {% endfor %}

    </ul>
</div>
{% endblock %}

